* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--colour-secondary-white-100-general, white);
}

.icon-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 2.5rem;
}

.top-header {
    width: 1440px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    display: flex;
    margin-left: 165px;
    height: 60px;
    width: 245px;
    justify-content: space-between;
    align-items: center;
}

li {

    list-style: none;
    color: var(--colour-main-blue-500, #505F98);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Regular 14 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.banner {

    color: var(--colour-logo-primary, #37447E);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Bold 26 */
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    /* 146.154% */
}

.btn-buynow {
    display: flex;
}

button {

    width: 160px;
    height: 26px;

    color: var(--colour-secondary-white-100-general, #FFF);
    text-align: center;

    /* Medium 12 */
    font-family: ' Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
    border-radius: 2px;
    background: var(--colour-main-blue-800, #111B47);
}

/* section introduct-product */
#introduce {
    width: 1440px;
    height: 900px;
}

.introduce-product {
    display: flex;
    padding-top: 100px;
}

.title-introduce,
.detail-content {
    width: 539px;
}

.detail-content {
    height: fit-content;
    color: var(--colour-main-blue-500, #505F98);
}

.bg-section-introduce {
    position: absolute;
    right: 0;
    width: 1150px;
    height: 1106px;
    flex-shrink: 0;
}

.btn-bottom {
    display: flex;
    margin-top: 60px;
}

.btn-purchase-kit,
.btn-learn-more {
    width: 189px;
    margin-right: 30px;
}

.btn-learn-more {
    color: var(--colour-main-blue-900, #091133);
    text-align: center;

    background-color: transparent;
    /* Medium 16 */
    font-family: 'Roboto', sans-serif;
}

.bg-section-introduce>svg {
    z-index: -1;
    position: absolute;
    opacity: 1.5;
}

.introduce-right>img {
    z-index: 1;
    position: absolute;
    width: 840px;
    height: 630px;
}

/* .introduce-right>img:nth-child(2) {
    z-index: 2;
    position: absolute;
    width: 60%;
    height: 60%;
    transform: translate(-20%, -50%) rotate(-150deg);
    flex-shrink: 1;
}
.introduce-right>img:nth-child(3) {
    z-index: 2;
    position: absolute;
    right: 80px;
    top:120px;
    flex-shrink: 1;
    padding-right: 10px;
}
.introduce-right>img:nth-child(4) {
    z-index: 2;
    position: absolute;
    right: 5px;
    top:150px;
    flex-shrink: 1;
    padding-top: 20px;
}

.introduce-right > svg{
    z-index: 3;
    position: absolute;
    left: 60%;
    width: 21px;
    height: 130px;
}

.introduce-right > img:nth-child(6){
    z-index: 3;
    position: absolute;
    left: 60%;
    width: 21px;
    height: 140px;
    padding-top: 80px;
}

.introduce-right > svg:nth-child(2){
    z-index: 4;
    position: absolute;
    left: 60%;
    width: 21px;
    height: 130px;
} */

/* section about */
#about {
    position: relative;
    width: 1440px;
    height: 842px;
    padding-top: 160px;
}

.container-title {
    width: 540px;
    color: var(--colour-main-blue-900, #091133);

    /* Medium 36 */
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-left: 70px;
}

.content {
    width: 540px;
    color: var(--colour-main-blue-400, #6F7CB2);

    /* Regular 16 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.content-main {
    display: flex;
    margin-top: 60px;
}

.sub-title {
    width: 255px;
    color: var(--colour-main-blue-900, #091133);

    /* Medium 16 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */

    padding-top: 14px;
}

.sub-content {
    color: var(--colour-main-grey-600, #5D6970);

    /* Regular 12 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
}

.content-main>img {
    margin-left: 200px;
    transform: translate(65px, -50%);
}

/* section preview */

#preview {
    width: 1440px;
    height: fit-content;
}

.container-preview {
    display: flex;
    padding-top: 165px;
    margin-left: 70px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.container-preview>.content-left {
    width: 500px;
    margin-left: 150px;
}

.sub-title-left {
    width: 445px;
    color: var(--colour-main-blue-900, #091133);

    /* Medium 36 */
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.sub-content-left {
    width: 445px;
    color: var(--colour-main-blue-400, #6F7CB2);

    /* Regular 16 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.image-group1-left {
    width: 500px;
}

/* section promotion */

#promotion {
    width: 1440px;
    height: 600px;
    text-align: center;
}

.promotion-content {
    display: flex;
    justify-content: center;
    padding-top: 165px;
}

.last-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.sub-title-promotion {
    padding-top: 50px;
    color: var(--colour-main-blue-900, #091133);
    text-align: center;

    /* Medium 36 */
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.sub-content-promotion {
    width: 600px;
    color: var(--colour-main-blue-400, #6F7CB2);

    /* Regular 16 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* 162.5% */

}

.sub-last-content {
    padding-top: 60px;
    color: var(--colour-main-grey-600, #5D6970);

    /* Regular 14 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* 171.429% */
}

.last-content>svg {
    position: absolute;
    z-index: -1;
}

.last-content>.btn-bottom {
    margin-top: 8px;
}

/* section footer */

footer {
    margin-top: 165px;
    padding-top: 30px;
    width: 1440px;
    height: fit-content;
    background: #E7ECFF;
}

.before-last-items {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    color: var(--colour-main-grey-400, #939EA4);
    margin-left: 70px;
    justify-content: baseline;
    /* Medium 14 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    /* 171.429% */
}

.landing-name {
    color: var(--colour-logo-primary, #37447E);
    justify-content: baseline;
    /* Bold 26 */
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
    /* 146.154% */
}

.before-last-items > .btn-bottom {
    margin-bottom: 25px;
    margin-right: 40px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.sub-menu > ul{
    display: flex;
}
.sub-menu > ul > li{
    padding-left: 40px;
}

.social-icons > ul{
    display: flex;
}
.social-icons > ul > li{
    padding-right: 40px;
}